
<% if  I18n.locale == :en %>

<!-- <div id="arrowright">
	<%= image_tag('arrow_right')%>
</div> -->

<div class="projects-container">
	<div style="float: left; width: 33%;">
		<h2 id="test">Government</h2>
			<h3 class="arrow">Ministry of  Housing/Baghdad<br>
			<span>Sulaimaniyah</span>
			</h3>
				<p style="display:none">
					Constructed the following:<br><br>
					Fuel control housing area<br>
					Steel warehouse structure<br>
					Fuel station for large trucks<br>
					<br>
					<a href="<%= asset_path( 'md1.jpg' ) %>" rel="prettyPhoto[pp_gal]"><img src="<%= asset_path( 'md1.jpg' ) %>" height="42" width="42" alt="" /></a>

					     <a  class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md1.jpg' ) %>" title="s">
							<img src="<%= asset_path( 'md1.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md2.jpg' ) %>" title="">
							<img src="<%= asset_path( 'md2.jpg' ) %>" height="42" width="42" alt="">
						</a>
						 <a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md3.jpg' ) %>" title="">
							<img src="<%= asset_path( 'md3.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md4.jpg' ) %>" title="">
							<img src="<%= asset_path( 'md4.jpg' ) %>" height="42" width="42" alt="">
						</a>

			</p>

			<h3 class="arrow">Kurdistan Region Courthouse<br>
			<span>Sulaimaniyah</span>
			</h3>
  				<p style="display:none">
  					Installed the following:<br><br>
					Four 350-ton HVAC units with full piping, supply, and return pumps<br>
					Fire-fighting and domestic water systems
					<br>
					<br>
					<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court1.jpg' ) %>" title="s">
							<img src="<%= asset_path( 'court1.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court2.jpg' ) %>" title="">
							<img src="<%= asset_path( 'court2.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court3.jpg' ) %>" title="">
							<img src="<%= asset_path( 'court3.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court4.jpg' ) %>" title="">
							<img src="<%= asset_path( 'court4.jpg' ) %>" height="42" width="42" alt="">
						</a>
				</p>

			<h3 class="arrow">Ministry of Housing and Construction<br>
			<span>Sulaimaniyah</span>
			</h3>

				<p style="display:none">
				Constructed 48 houses as part of the Ministry's program to develop 1,500 new houses in the area

						<br>
						<br>


						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '1z.jpg' ) %>" title="s">
							<img src="<%= asset_path( '1z.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '2z.jpg' ) %>" title="">
							<img src="<%= asset_path( '2z.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '3z.jpg' ) %>" title="">
							<img src="<%= asset_path( '3z.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '4z.jpg' ) %>" title="">
							<img src="<%= asset_path( '4z.jpg' ) %>" height="42" width="42" alt="">
						</a>
				</p>

	</div>

	<div style="float: left; width: 33%;">
		<h2>International</h2>

			<h3 class="arrow_baghdad">United States Military<br>
			<span>Baghdad</span>
			</h3>

				<p style="display:none">
				Erected a steel structure, sandwich panel and roll up garage doors for a motor pool at the Victory Base Center
				</p>

			<h3 class="arrow">Dyncorp International<br>
			<span>Sulaimaniyah</span>
			</h3>
				<p style="display:none">
				Erected a 200sqm steel structure gym
				</p>

	</div>

		<div style="float: left; width: 33%;">
		<h2>Private Sector</h2>

			<h3 class="arrow">Tishknet<br>
				<span>Sulaimaniyah</span>
			</h3>

				<p style="display:none">
					Installed a	non-toxic, non-destructive, and non-aqueous fire extinguishing	system for an internet company; system releases a gas called FM200 to extinguish the flames without damaging electronics</p>

	</div>
</div>

<%else%>

<div class="projects-container-ar">
	<div style="float: left; width: 33%;">
		
		<h2>القطاع الخاص</h2>
		<h3 class="arrow-ar">تشكنت<br>
		<span>السليمانيه</span>
		</h3>

			<p style="display:none">

				تثبيت نظام إطفاء غير سام، غير مدمر، و غير مائي لشركة الإنترنت؛ نظام يطلق غاز   لاخماد النيران دون ألحاق  الضرر بالأجهزه الإ لكترونيه

			</p>
		
			
			
	

	</div>

	<div style="float: left; width: 33%;">
		<h2>عالمياً</h2>

			<h3 class="arrow-baghdad-ar">الجيش الأمريكي<br>
			<span>بغداد</span>
			</h3>

				<p style="display:none">
			إقامت الهيكل الصلب، ساندوج بانل و ابواب المرآب السيارات في مركز قاعدة فيكتوري
				</p>

			<h3 class="arrow-ar">دايناكورب<br>
			<span>السليمانيه</span>
			</h3>
				<p style="display:none">
					إقامت ٢٠٠ متر مربع قاعه رياضيه من الحديد الصلب
				</p>

	</div>

		<div style="float: left; width: 33%;">
		
		<h2>القطاع العام</h2>
		<h3 class="arrow-ar">وزارتي الدفاع والإسكان / البناء<br>
		<span>السليمانيه</span>
		</h3>
			<p style="display:none">
				:شيدنا ما يلي<br><br>
				مراقبة وقود المنطقة السكنيه<br>
				هيكل المستودع الصلب<br>
				محطة وقود للشاحنات الكبيرة<br>
				<br>

				<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md1.jpg' ) %>" title="s">
						<img src="<%= asset_path( 'md1.jpg' ) %>" height="42" width="42" alt="">
					</a>
					<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md2.jpg' ) %>" title="">
						<img src="<%= asset_path( 'md2.jpg' ) %>" height="42" width="42" alt="">
					</a>
					<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md3.jpg' ) %>" title="">
						<img src="<%= asset_path( 'md3.jpg' ) %>" height="42" width="42" alt="">
					</a>
					<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'md4.jpg' ) %>" title="">
						<img src="<%= asset_path( 'md4.jpg' ) %>" height="42" width="42" alt="">
					</a>
		</p>
		
		<h3 class="arrow-ar">دار القضاء في إقليم كردستان <br>
		<span>السليمانيه</span>
		</h3>
			<p style="display:none">
				:شيدنا مايلي<br><br>
				أربع وحدات تكييف 350 طن مع كامل المواسير، وتوريد، و مضخات العودة <br>
				مكافحة الحرائق وأنظمة المياه المنزلية
				<br>
				<br>
				<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court1.jpg' ) %>" title="s">
						<img src="<%= asset_path( 'court1.jpg' ) %>" height="42" width="42" alt="">
					</a>
					<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court2.jpg' ) %>" title="">
						<img src="<%= asset_path( 'court2.jpg' ) %>" height="42" width="42" alt="">
					</a>
					<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court3.jpg' ) %>" title="">
						<img src="<%= asset_path( 'court3.jpg' ) %>" height="42" width="42" alt="">
					</a>
					<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( 'court4.jpg' ) %>" title="">
						<img src="<%= asset_path( 'court4.jpg' ) %>" height="42" width="42" alt="">
					</a>
			</p>
			
			<h3 class="arrow-ar">وزارة الإسكان والتعمير<br>
			<span>السليمانيه</span>
			</h3>

				<p style="display:none">
				شيدت 48 منزلا كجزء من برنامج الوزارة لتطوير 1،500 منازل جديدة في المنطقة

						<br>
						<br>


						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '1z.jpg' ) %>" title="s">
							<img src="<%= asset_path( '1z.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '2z.jpg' ) %>" title="">
							<img src="<%= asset_path( '2z.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '3z.jpg' ) %>" title="">
							<img src="<%= asset_path( '3z.jpg' ) %>" height="42" width="42" alt="">
						</a>
						<a class="fancybox" rel="prettyPhoto[pp_gal]" href="<%= asset_path( '4z.jpg' ) %>" title="">
							<img src="<%= asset_path( '4z.jpg' ) %>" height="42" width="42" alt="">
						</a>
				</p>
		
		

			
	</div>
</div>

<%end%>





<!-- JQuery --> 


<script>

$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
});


$( "h3" ).click(function() {
$(this).next('p').toggle();
  });




var $arrowRight = $('<div id="arrowright"></div>');
var $arrowRightAr = $('<div id="arrowright-ar"></div>');
var $arrowRightBaghdadAr = $('<div id="arrowright-baghdad-ar"></div>');
var $arrowRightShort = $('<div id="arrowright_short"></div>');
var $arrowRightBaghdad = $('<div id="arrowright_baghdad"></div>');

// $(".arrow").hover(function(){
// 	$(this).prepend($arrowRight);}, function(){
// 	$arrowRight.remove();
// 	});

$(".arrow").on({

	mouseleave: function(){
		$(this).remove($arrowRight);
	},

	mouseover: function(){
		$(this).prepend($arrowRight);
	},

	click: function(){
		$(this).prepend($arrowRight);

	},


});



// $(".arrow").click('mouseover mouseleave', function(){
// 	$(this).prepend($arrowRight);
// 	});

$(".arrow-ar").hover(function(){
	$(this).prepend($arrowRightAr);}, function(){
	$arrowRightAr.remove();
	});


$(".arrow-ar").hover(function(){
	$(this).prepend($arrowRightAr);}, function(){
	$arrowRightAr.remove();
	});

  	$(".arrow-baghdad-ar").hover(function(){
	$(this).prepend($arrowRightBaghdadAr);}, function(){
	$arrowRightBaghdadAr.remove();
	});

$(".arrow_short").hover(function(){
	$(this).prepend($arrowRightShort);}, function(){
	$arrowRightShort.remove();
	});

  	$(".arrow_baghdad").hover(function(){
	$(this).prepend($arrowRightBaghdad);}, function(){
	$arrowRightBaghdad.remove();
	});



</script>



