<!DOCTYPE html>
<html lang="en">
  <head>
      <title><%= full_title(yield(:title))%></title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
      <meta charset="utf-8"/>
        <!-- <nav class="navbar-brand"> --> 
        <div class="header">
          <div class="logo">
          <%= link_to image_tag("logo3.png", :size => "180x60", :alt => 'logo'), root_path %>
          </div>
             <!-- <a class="brand" href="/">E-KALL TOWER CO.</a> -->      
         <!--  </nav>  -->
          <div class="nav-links">
            <ul class="links">
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/projects">PROJECTS</a></li>
              <li>
                <span>SERVICES</span>
                <ul id="drop-list">
                  <li><a href="/structural">STRUCTURAL</a></li>
                  <li><a href="/mechanical">MECHANICAL</a></li>
                  <li><a href="electrical">ELECTRICAL</a></li>
                  <li><a href="combo">Combo</a></li>
                </ul>
              </li>
              <li><a href="/contact">CONTACT</a></li>
            </ul>

        </div>
    </div>
    </head>
         <div class="container">
           <%= yield %>
         </div>
    
         <div class="footer">
            <ul>
            <h4>QUICK LINKS</h4>
            <li><a href="/about">ABOUT E-KALL TOWER CO.</a></li>
            <li><a href="https://app.box.com/s/q1vnqyrarj6mqovhqdks" target="_blabk">COMPANY BROCHURE</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            </ul>
            <p class="copyrights"><strong>&copy</strong> 2014 E-Kall Tower Company. All Rights Reserved.</p>
          </div> 
</html>