<!DOCTYPE html>
<html lang="en">
  <head>
      <title><%= full_title(yield(:title))%></title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
      <meta charset="utf-8"/>
        <!-- <nav class="navbar-brand"> --> 
        <div class="header">
			<% if  I18n.locale == :en %>
          <div class="logo">
          <%= link_to image_tag("logo3.png", :size => "150x50", :alt => 'logo', :class => "gallery"), root_path %>
          </div>
		  <%else%>
          <div class="logo-arabic">
          <%= link_to image_tag("logo3.png", :size => "150x50", :alt => 'logo', :class => "gallery"), root_path %>
          </div>
		  <%end%>
   </head>
  <body>
	  <% if  I18n.locale == :en %>
		  <div class="language">
		  <% if I18n.locale == I18n.default_locale %>
		  <%= link_to "العربية", :locale=>'ar'%>  
		  <% else %>
		  <%= link_to "English", :locale=>'en'%>	    
		  <%end%>
	  
	  <%else%>
	  
		  <div class="language language-arabic">
		  <% if I18n.locale == I18n.default_locale %>
		  <%= link_to "العربية", :locale=>'ar'%>  
		  <% else %>
		  <%= link_to "English", :locale=>'en'%>	    
		  <%end%>
	  
	  <%end%>
	  	  
      </div>
	       <% if  I18n.locale == :en %>
            <div class="nav-links-en">
              <ul class="links">
			  <li><%= link_to "ABOUT", about_path, :class => 'about' %></li>
			  <li><%= link_to "PROJECTS", projects_path, :class => 'project'%> </li>
			  <li><%= link_to "SERVICES", services_path, :class => 'service'%> </li>
			  <li><%= link_to "CONTACT", contact_path, :class => 'contact'%> </li> 
			  <%else%> 
	          <div class="nav-links-ar arabic-links">
	            <ul class="links">
				  <li><%= link_to "إتصل بنا", contact_path, :class => 'contact' %></li>
				  <li><%= link_to "الخدمات", services_path, :class => 'service' %></li>
				  <li><%= link_to "المشاريع", projects_path, :class => 'project' %></li>
				  <li><%= link_to "من نحن؟", about_path, :class => 'about' %></li>
				  
			  <%end%>
			 
               <!--  <ul id="drop-list">
                  <li><a href="/structural">STRUCTURAL</a></li>
                  <li><a href="/mechanical">MECHANICAL</a></li>
                  <li><a href="electrical">ELECTRICAL</a></li>
                  <li><a href="combo">Combo</a></li>
                </ul>
              </li>
              <li><a href="/contact">CONTACT</a></li>
            </ul> -->
        </div>
    </div>
       <div class="container">
           <%= yield %>
         </div>
		 
		 
           
		   
	           <% if current_page? root_path %>
	           <%elsif%>    
	           <div class="white-section">
	             <%= yield :section %>
	           </div>
	           <%end%>
			   
		


     <% if  I18n.locale == :en %>
         <div class="footer">
         <div class="footer-columns">
            <ul>
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT</a></li> 
              <li><a href="/projects">PROJECTS</a></li>
              <li><a href="/services">SERVICES</a></li>
              <li><a href="/contact">CONTACT</a></li>   
            </ul>
          </div>

          <div class="footer-columns">
            <p><a href="mailto:info@e-kalltower.com">info@e-kalltower.com</a></p>
            <p>+964.770.700.0200</p>
            <p>Arbil | Sulaimaniyah | Baghdad</p>
            <p><%= link_to image_tag("facebook.png", :size => "20x20", :alt => 'Find us on Facebook'), 'https://www.facebook.com/pages/E-Kall-Tower-Company/1415075255395444' %></p>
          </div>

          <div class="footer-columns">
            
          </div>

          <div class="copyrights">
            <p><strong>&copy</strong> 2014 E-Kall Tower Company. All Rights Reserved.</p>
            <p>Designed, developed, maintained by <a href="http://cuneiform.io" target="_blank">cuneiform.io</a></p>
          </div>
		  
		  <%else%>
		  
          <div class="footer">
          <div class="footer-columns">
             <ul>
               <li><a href="/">ألرئيسية</a></li>
               <li><a href="/about">من نحن؟</a></li> 
               <li><a href="/projects">المشاريع</a></li>
               <li><a href="/services">الخدمات</a></li>
               <li><a href="/contact">إتصل بنا</a></li>   
             </ul>
           </div>

           <div class="footer-columns">
             <p><a href="mailto:info@e-kalltower.com">info@e-kalltower.com</a></p>
             <p>+964.770.700.0200</p>
             <p>Arbil | Sulaimaniyah | Baghdad</p>
             <p><%= link_to image_tag("facebook.png", :size => "20x20", :alt => 'Find us on Facebook'), 'https://www.facebook.com/pages/E-Kall-Tower-Company/1415075255395444' %></p>
           </div>

           <div class="footer-columns">
            
           </div>

           <div class="copyrights">
             <p><strong>&copy</strong> 2014 E-Kall Tower Company. All Rights Reserved.</p>
             <p>Designed, developed, maintained by <a href="http://cuneiform.io" target="_blank">cuneiform.io</a></p>
           </div>
		   
		   <%end%>
    
          </body>
          </html>